@charset "UTF-8";

/* general */

*
{
  background-color: inherit;
  color: inherit;
  line-height: 1.3;
}

.toggle-link {
  height:3em;
}
.toggle-link:hover {
  cursor:pointer;
}

.code-container {
  display:none;
  overflow:hidden;
}

ol li {
  margin-top: 0.8em;
}

tt {
  border: 1px #999999 solid;
  background-color: #eeeeee;
}

h3 {
  font-weight: bold;
}

h2 {
  margin-top:0.5em;
}

h1, h2, h3 {
  font-weight: normal;
}

hr {
  width: 50%;
}

code
{
  display: block;
  font-family: monospace ! important;
  border: 1px #999999 solid;
  background-color: #eeeeee;
  padding: 0.2em;
}

#article
{
  clear: both;
  background-color: transparent;
  min-height: 600px;
}

address
{
  text-align: right;
  font-size: 75%;
}

#footer
{
  margin: 0.5em 0;
  border: solid #404040 1px;
  border-style: solid none none none;
}

#footer *
{
  margin: 0.5em 0;
}

#footer address
{
  font-style: italic !important;
}
