/*hack to hide the autogened footnotes
div.footnote {
  display:none;
}
*/

a.footnote_link, a.footnote_backlink {
  color: #841;
  text-decoration: none;
/*  cursor: default; */
  font-size: 80%; 
  vertical-align: top; 
  position: relative;
  top: -0.4ex;
  margin:-1.5ex;
  padding:1.5ex;
}

a.footnote_link:hover, a.footnote_backlink:hover {
  color: #481;
}

#footnote_popup {
  font-family: Georgia;
  font-size: 100%;
  line-height: 1.5em;
  text-align: justify;
  background: #f0f0f0;
  color: #333;
  padding: 0.8ex;
  padding-left: 3ex;
  padding-right: 3ex;
  width: 54%;
  box-shadow: 4px 4px 22px #777;
  z-index: 12;
}

#footnote_popup a.footnote_backlink {
  display: none;
}
/*
.footnote a {
  color:#841;
}
*/
