body {
  margin-top: 1em;
}

/*english text, meant for reading*/
p, table, label, h1, h2, h3, h4, a {
  font-family:Georgia;
  color:#2E2E2E;
  line-height:1.5em;
  text-align: justify;
}

p {
  font-size: 1.2em;
}

h1, h2, h3, h4 {
  margin-top: 1.5em;
  color: #444;
}

h2 {
  margin-top: 2em;
}

tt {
  border: 1px #999999 solid;
  padding-left:1px;
  padding-right:1px;
  background-color: rgba(0,0,0,0.05);
}

li {
  font-family:Georgia;
  color:#2E2E2E;
}

.figure {
  text-align: center;
}

.figure p {
  text-align: center;
}

.output_displayed_text {
  color: blue;
}

.output_error {
  color: red;
}

.p-link {
  text-decoration: underline;
  text-align: right;
}

.p-link:hover {
  cursor:pointer;
}

/*Suppress line break when beginning exercise*/
.exercise p:first-child {
  margin-top:0;
}

.output {
  font-family: monospace;
  font-style: italic;
  padding: 0pt 4pt;
  color: #444;
}

.exercise {
  background-color: #D8E5E8;
  padding: 1.5em;
  box-shadow: 0px 4px 5px lightgray;
}

/*ticks and crosses*/

.wrong-answer {
  margin-top: -1.5em;
  font-family: bold;
  color: red;
  float:right;
}

.right-answer {
  margin-top: -1.5em;
  font-family: bold;
  color: green;
  float:right;
}

.submit-ans {
  margin-top: 0em;
}

/*the tab that comes out on click*/

#sidebox {
  position:fixed;
  right:-30%;
  top:10px;
  width:35%;
  height:100%;
}

#sidebox .content {
  background:#bada55;
}

#sidebox .content {
  float:right;
  width:92%;
  height:100%;
}

#sidebox .tab {
  background:#bada55;
  cursor:pointer;
  float:left;
  width:8%;
  height:100%;
}

#sidebox .navlink {
  text-decoration: none;
  font-size: 2em;
  margin:0.1em;
}

#sidebox .navlink:hover {
  cursor: pointer;
}

#main {
  width: 45%;
  min-width: 400px;
  margin: auto;
  margin-bottom: 3em;
}

/*autoscroll*/
.CodeMirror-scroll {
  height: auto;
  width: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

/*identifying editable portions*/

.CodeMirror-scroll:hover:not(.static) {
  background: rgba(0, 0, 0, 0.05);
}

.CodeMirror {
  margin-bottom: 0.5em;
}

/**/

div.CodeMirror span.CodeMirror-matchingbracket {
  text-decoration: none;
  font-weight: bolder;
  color: #787860;
}

#toc .h3 {
  font-size:14px;
}
#toc .h4, .div{
  margin-left: 2em;
  font-size:12px;
}

label { /*thx cousera*/
  padding-bottom:5px;
  float: none;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: auto;
  max-width: 95%;
}

img.center {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.CodeMirror {
  line-height: 1.3em;
}

.CodeMirror-scrollbar {
  display: none !important;
}
