p {
  font-family:Georgia;
  color:#2E2E2E;
  line-height:1.5em;
  text-align: justify;
}

.output {
  font-family: monospace;
  font-style: italic;
  padding: 0pt 4pt;
}

.excercise{
  background-color: #D8E5E8;
  padding: 10pt;
}

.wrong-answer {
  padding: 0pt 4pt;
  color: red;
}

.correct-answer {
  padding: 0pt 4pt;
  color: green;
}

#sidebar-old {
  height: 100%;
  float: right;
  padding: 2px;
}

#sidebox {
    position:fixed;
    right:-30%;
    top:10px;
    width:35%;
    height:100%;
}

#sidebox .tab,
#sidebox .content {
    background:#bada55;
}

#sidebox .content {
    float:right;
    width:95%;
    height:100%;
}

#sidebox .tab {
    cursor:pointer;
    float:left;
    width:5%;
    height:100%;
}



#main {
  width: 60%;
  float: left;
  border-top: 1px solid gray;
  padding: 10px;
}

.CodeMirror:hover {
  background: #f8f8f8;
}

.CodeMirror-focused {
  background: #E2FCF7;
}

.CodeMirror-scroll {
  height: auto;
  width: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.excercise .CodeMirror:hover {
  background-color: #B4CFDB;
}

.excercise .CodeMirror-focused {
  background: #DCEFF7;
}

.CodeMirror-matchingbracket {
  background: lightblue;
}

div.CodeMirror span.CodeMirror-matchingbracket {
    color: #869CEB; /*why can't we use .CodeMirror-matchingbracket? */
}
