
.output {
  font-family: monospace;
  padding: 0pt 4pt;
}

.excercise{
  background-color: #f8f8ff;
  padding: 10pt;
}

.wrong-answer {
  padding: 0pt 4pt;
  color: red;
}

.correct-answer {
  padding: 0pt 4pt;
  color: green;
}

#sidebar {
  position:fixed;
  left:63%;
  width: 37%;
  height: 100%;
  float: right;
  padding: 2px;
}

#main {
  width: 60%;
  float: left;
  border-top: 1px solid gray;
  padding: 10px;
}

.CodeMirror:hover {
  background: #f8f8f8;
}

.CodeMirror-focused {
  background: #E2FCF7;
}

.CodeMirror-scroll {
  height: auto;
  width: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.excercise .CodeMirror:hover {
  background-color: #f1f1fa;
}

.excercise .CodeMirror-focused {
  background: #D2ECF7;
}

.CodeMirror-matchingbracket {
  background: lightblue;
}

div.CodeMirror span.CodeMirror-matchingbracket {
    color: #869CEB; /*why can't we use .CodeMirror-matchingbracket? */
}
