body {
  margin-top: 5em;
  margin-left: 3em;
}

/*english text, meant for reading*/
p, ul, ol, blockquote, table, label, h1, h2, h3, h4, a {
  font-family:Georgia;
  color:#2E2E2E;
  line-height:1.5em;
  text-align: justify;
}

h1, h2, h3, h4 {
  margin-top: 1.5em;
  color: #444;
}

/*
h2 {
  padding: 10px;
}
*/

.p-link {
  text-decoration: underline;
  text-align: right;
}

.p-link:hover {
  cursor:pointer;
}

/*Suppress line break when beginning exercise*/
.exercise p:first-child {
  margin-top:0;
}

.output {
  font-family: monospace;
  font-style: italic;
  padding: 0pt 4pt;
  color: #444;
}

.exercise {
  background-color: #D8E5E8;
  padding: 1.5em;
}

/*ticks and crosses*/

.wrong-answer {
  margin-top: -1.5em;
  font-family: bold;
  color: red;
  float:right;
}

.right-answer {
  margin-top: -1.5em;
  font-family: bold;
  color: green;
  float:right;
}

.submit-ans {
  margin-top: 0em;
}

/*the tab that comes out on click*/

#sidebox {
  position:fixed;
  right:-30%;
  top:10px;
  width:35%;
  height:100%;
}

#sidebox .content {
  background:#bada55;
}

#sidebox .content {
  float:right;
  width:92%;
  height:100%;
}

#sidebox .tab {
  background:#bada55;
  cursor:pointer;
  float:left;
  width:8%;
  height:100%;
}

#sidebox .navlink {
  text-decoration: none;
  font-size: 2em;
  margin:0.1em;
}

#sidebox .navlink:hover {
  cursor: pointer;
}

#main {
  width: 60%;
  float: left;
  border-top: 1px solid gray;
  margin-bottom: 3em;
/*  padding: 10px;  */
}

/*identifying editable portions*/

.CodeMirror:hover {
  background: #f8f8f8;
}

.CodeMirror-focused {
  background: #E2FCF7;
}

/*autoscroll*/
.CodeMirror-scroll {
  height: auto;
  width: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.exercise .CodeMirror:hover {
  background-color: rgba(180, 207, 219, 0.5);
}

.exercise .CodeMirror-focused {
  background: rgba(220, 239, 247, 0.5);
}

.static .CodeMirror:hover {
  background-color: transparent;
}

.CodeMirror-matchingbracket {
  background: lightblue;
}

div.CodeMirror span.CodeMirror-matchingbracket {
    color: #869CEB; /*why can't we use .CodeMirror-matchingbracket? */
}

#toc .h3 { 
  font-size:14px;
}
#toc .h4, .div{ 
  margin-left: 2em;
  font-size:12px;
}

label { /*thx cousera*/
  padding-bottom:5px;
  float: none;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: auto;
  max-width: 95%;
}

img.center {
  display:block; 
  margin-left:auto; 
  margin-right:auto;
}

.CodeMirror {
  line-height: 1.3em;
}
