/* trigger button */
a.footnote {
  color: #841;
  cursor: default;
}

/* mouseover state */
a.footnote:hover {
  color: #481;
}

/* tooltip styling */
.tooltip {
  display: none;
  font-family: Georgia;
  font-size: 100%;
  line-height: 1.5em;
  text-align: justify;
  background: #f0f0f0;
  color: #333;
  padding: 2em;
  width: 70ex;
  box-shadow: 5px 5px 22px #555;
  z-index: 2;
}

.tooltip a {
  color:#841;
}
