a.footnote_marker {
  color: #841;
  cursor: default;
  font-size: 80%; 
  vertical-align: top; 
  position: relative;
  top: -0.4ex;
}

a.footnote_marker:hover {
  color: #481;
}

.footnote {
  display: none;
  font-family: Georgia;
  font-size: 100%;
  line-height: 1.5em;
  text-align: justify;
  background: #f0f0f0;
  color: #333;
  padding: 2em;
  width: 70ex;
  box-shadow: 5px 5px 22px #555;
  z-index: 2;
}
/*
.footnote a {
  color:#841;
}
*/
